@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  font-family: "Source Sans Pro", sans-serif;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f8f8f8;
}

nav {
  margin-top: 5%;
}
a{
  text-decoration: none;
}



/* MENU MANILLAS  */

.menumanillas {
  border-radius: 10px;
  filter: opacity(50%);
}

.menumanillas:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  cursor: pointer;
}

.imageholder {
  position:relative;

}

.imageholder span {
  position:absolute;
  right:10px;
  top:10px;
}

.textomenumanillas h1 {
  color:#F6AE2D;
  font-weight:bold;
  text-align:center;
}

.textomenumanillas p {
  text-align:center;
  color:grey;
}

.subtitulomenumanillas h2 {
  text-align:left;
  font-weight:bold;
  font-size:1.3rem;
}

.parrafomenumanillas {
  color:black;
  text-align:left;
  font-size:1.5rem;
}

.formulariocotizacion {
  margin-left:70px;
}

.botoncotizacion {
  background:#F7931e;
  color:white;
  border-radius:10px;
  border:none;
  width:20%;
  padding:8px;

}

.botoncotizacion:hover {
  background:#dd821b;
}



.overlay {
  position: relative;
  top: -50%;
  left: 0%;
  color:#636363;
  text-align: center;
  vertical-align: middle;
  padding:0px;
  margin:0px;
  text-decoration: none;
  font-weight: bold;
  border:none;
}



/* RESPONSIVE  */

@media(max-width:600px) {
  .logo-footer{
    border-right:none ;
    margin-left:auto;
    margin-right:auto;
    
  }
  .texto-footer{
    text-align:center;
    margin-top:20px;
  }
  .container {
      margin-top:100px;
    }
  .footer{
   padding:20px;
    }
  .texto-footer{
      padding-left:20px;
      padding-bottom:40px;
    }

  span {
      display: none;
  }
  .float-button {
      width: 40px;
      border-radius: 10px;
      height: 43px;
  }
  .fa-whatsapp {
      font-size: 25px !important;
  }
  .carrito-completo{
    display: none;
  }
}

/* error 404  */

.error404{
  background-color: rgba(29, 45, 59, 0.973);
  position: absolute;
  height: 100vh;
  width:100vw;
  z-index: 1;
  top:0;
  left: 0;
  color:white;
}

.texto404{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}