@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  font-family: "Source Sans Pro", sans-serif;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f8f8f8;
}

nav {
  margin-top: 5%;
}
a{
  text-decoration: none;
}

.navbar {
  background: #102e3e;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  border-radius: 10px;
  z-index: 1;
}

.navbar li {
  padding-left: 7px;
  padding-right: 7px;
}

.navbar a {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: 500;
}

.dropdown-navbar {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: 500;
}

.navbar a:hover {
  color: white;
  background:#29abe2;
  border-radius: 20px;
} 

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
  cursor: pointer;
}

.dropdown{
  cursor: pointer;
  border-radius: 0px;
}

.dropdown-menu {
  background-color:#102e3e;
}

.navbar-toggler-icon {
  color:#29abe2;
}

.contenedor-navbar {
  margin: 0% 10% 5% 10%;
  height: 100px;
 }

.banner-navbar {
  background: #29abe2;
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px;
  
}

.banner-navbar p {
  font-size: 1rem;
  display: inline-block;
  margin-right: 30px;
  font-size: 1.2rem;
  font-weight: 400;
}

.fa-bars:hover {
  color: #29abe2;
}

.fa-shopping-cart{
  color:black;
}

.carrito-completo{
  
  color:white;
  border-left: 1px solid white;
  padding-left: 15px;
  margin-top:15px;
  margin-right:15px;
  font-family: 'Poppins', sans-serif;
}

.carrito-navbar{
  background: white;
  border-radius: 200px; 
  padding:10px;
  margin-right:10px;
  margin-left:20px;
  position: relative;
}

.carrito-navbar a:hover{
  background: white;
 
}

.contadorProductos{
  background: red;
  border-radius: 100%;
  text-align: center;
  color: white;
  position: absolute;
  width: 20px;
  height: 20px;
  top:-10px;
}

/* TIENDA  */

.tienda-container{
  padding-left: 10%;
  padding-right: 10%;
}

.mas{
  background:#8CC63F;
  width:30px;
  height:30px;
  padding:0;
  margin:0;
  text-align:center;
  color:white;
  cursor: pointer;
}
.menos{
  background:#C1272D;
  width:30px;
  height:30px;
  padding:0;
  margin:0;
  text-align:center;
  color:white;
  cursor: pointer;
}

.input_cantidad{
  margin:0px;
  padding:0px;
  width:70px;
  text-align:center;
}

.tabla{
  margin:0px;
  padding:0px;
  margin-left:auto; 
  margin-right:auto;
}

.imagen{
  border-radius:20px;
  padding:0px;
  margin-top:20%;
  text-align:center;
}

.linea{
  border: 2px solid #666666;
  padding:0;
}

.borde{
  border-radius:20px;
  border:2px solid #666666;
  padding:5px;
}

.borde p{
  font-family: 'Poppins', sans-serif;
}

.contenido h2{
  font-family: 'Poppins', sans-serif;
  font-weight:700;
  color:#C1272D;
  text-align:center;
  font-size:1.5rem;
}

.contenido p{
  font-family: 'Poppins', sans-serif;
  font-weight:500;
}
.categoria-p{
  color:#B3B3B3;
  font-size:1rem;
  text-align:center;
}

.valor{
  text-align:center;
  margin-left:30%;
  color:#8f8f8f;
  font-weight:300;
  font-family: 'Poppins', sans-serif;
}

/* Footer  */

.footer{
  background:#182D3C;
  width:100%;
  padding:50px;
  color:white;
}

.texto-footer{
  padding-left:50px;
}

.texto-footer h2{
  font-size:2rem;
  font-weight:600;
}

.texto-footer p{
  font-size:1.2rem;
  font-weight:300;
}

.logo-footer{
  border-right:4px solid white;
}

.float-button {
  text-decoration: none;
  position: fixed;
  padding: 8px;
  padding-right: 15px;
  bottom: 30px;
  right: 35px;
  background-color: #50c65e;
  color: #FFF;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 4px 6px 0px rgba(173, 173, 173, 1);
  z-index: 100;
  font-family: arial;
  font-size: 18px;
  animation: whatsapp-animation 0.5s ease-in-out;
  transition: background-color 0.3s ease;
}

.float-button:hover {
  background-color: #90d573;
}

.fa-whatsapp {
  font-size: 20px !important;
  padding-right: 5px;
  padding-left: 5px;
}

@keyframes whatsapp-animation {
  from {opacity: 0%;}
  to {opacity: 100%}
}




/* contacto  */

.borde-form{
  border-radius:20px;
  border:2px solid #F2F2F2;
}

.inp{
  background:#F2F2F2;
}

.btn-form {
  background:#8CC63F;
  border:1px solid white;
}

.contact-mensaje{
  font-weight:700;
  font-size:2.5rem;
  text-align:center;
  color:#8f8f8f;
  margin-bottom:5%;
} 

/* Inicio */

.foto {
  width: 100%;
  background-image: url("http://localhost:3000/img/inicio/manillas-en-bogota-y-medellin.webp"); /* The image used */
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header h1{
color:#F6AE2D;
text-align: center;
font-size: 2.5rem;
font-weight: bold;
font-family: 'Roboto Condensed', sans-serif;
}

.header h2{
color:#F6AE2D;
text-align: left;
font-size: 1.5rem;
font-weight: 700;
font-family: 'Roboto Condensed', sans-serif;
}

.nuevafoto {
  border-radius: 40px;
  filter: grayscale(100%);
}

.nuevafoto:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  cursor: pointer;
}

.parrafo-header{
  text-align: justify;
}

.mensaje-header{
  text-align: center;
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
  padding: 20px 0px;
  color: #616161;
}

.mensaje-header p {
  text-align: justify;
  text-justify: inter-word;
}

.header button{
  background:#5f0f40;
  border-radius: 10px;
  border:none;
  color:white;
  padding: 10px 20px;
}

.header button:hover{
  background:#F6AE2D;
  border-radius: 10px;
  border:none;
  color:#616161;
  padding: 10px 20px;
  text-align: center;
  
}

/* Manillas tyvek */

.tyvek-headerTMP h1 {
  text-align: center;
  color:#F6AE2D;
  font-weight: bold;
}

.tyvek-header h1 {
  text-align: center;
  color:#616161

}

.tyvek-header h2 {
  text-align: center;
  color:#616161

}

.tyvek-1 h2 {
  text-align: left;
  color:#F6AE2D;
  font-weight: bold;
}

.tyvek-1 p {
  text-align: justify;
  
}

.tyvek-2 p {
  text-align: justify;
}

.tyvek-2 h2 {
  text-align: center;
  color:#F6AE2D;
  font-weight: bold;
}

.tyvek-button {
  background:#5f0f40;
  border-radius: 10px;
  border:none;
  color:white;
  padding: 10px 20px;
  text-align: left;
}

.tyvek-button:hover{
  background:#F6AE2D;
  border-radius: 10px;
  border:none;
  color:#616161;
  padding: 10px 20px;
  text-align: center;
  
}

.TyvekTitulo {
  text-align: center;
  color:#F6AE2D;
  font-weight: bold;
}

/* manillas plasticas */

.plastic-header h1 {
  text-align: center;
  color:#F6AE2D ;
  font-weight: bold;
}

.plastic-header h2 {
  text-align: center;
  color:#616161;
}

.plastic-header h3 {
  text-align: center;
  color:#616161;
}

.plastic-1 h2 {
  text-align: center;
  color:#F6AE2D;
  font-weight:bold;
  }

.plastic-2 h2 {
  text-align: center ;
  color:#F6AE2D ; 
  font-weight:bold ;
}

.plastic-2 p {
  text-align:justify;
}

/* manillas hospitalarias */

.hospital-body h2 {
  text-align: center;
  color:#616161;
}

.hospital-body p {
  text-align:justify;
}

.hospitalarias-cuadro-1 {
  background-color:#0071BC;
  color:white;
  width: 80%;
  padding: 0px;
  margin-right: 10px;
}

.hospitalarias-cuadro-1 p {
  text-align:justify;
  padding: 0px 10px;
}

.hospitalarias-cuadro-1 h2 {
  text-align:center;
  font-weight:bold;
  color:white;
}

/* hologramas */

.hologramas-header h1 {
text-align: center;
  color:#F6AE2D ;
  font-weight: bold;
}

.hologramas-header h2 {
  text-align: center ;
  color:#F6AE2D ; 
  font-weight:bold ;
}

.hologramas-header p {
  text-align:justify;
  padding: 0px 10px;
}

.hologramas-body h2 {
  text-align: center ;
  color:#F6AE2D ; 
  font-weight:bold ;
}

.hologramas-body p {
  text-align:justify;
  padding: 0px 10px;
}

.holograma-fondo h2 {
  text-align: center ;
  color:white ; 
  font-weight:bold ;
  background-color:#F6AE2D
}

.holograma-fondo {
  text-align:justify;
  color:white;
  padding: 0px 0px;
  background-color:#F6AE2D
}

.holograma-morado {
  text-align:justify;
  color:white;
  padding: 0px 0px;
  background-color:#5f0f40
}

.holograma-morado h2 {
  text-align:center;
  font-weight:bold;
}

/* tejidas */

.tejidas-header h1 {
  text-align: center;
    color:#F6AE2D ;
    font-weight: bold;
  }

  .tejidas-header p {
    text-align:justify;
    padding: 0px 10px;
  }

  .tejidas-body h2 {
    text-align: center ;
    color:#F6AE2D ; 
    font-weight:bold ;
  }

  .tejidas-body p {
    text-align:justify;
    padding: 0px 10px;
  }

  .tejidas-2 h3 {
    text-align:center;
    color:white;
    background-color:#F6AE2D;
  }

  .tejidas-2 p {
    text-align:justify;
    padding: 0px 10px;
  }

  .tejidos-bottom h2 {
    text-align:center;
    color:#F6AE2D;
    background-color:#5f0f40;
  }

  .tejidos-bottom {
    background:#5f0f40;
    border-radius: 10px;
    border:none;
    color:white;
    padding: 10px 10px;
    text-align: justify;
  }

  .tejidos-bottom-2 h2 {
    text-align:center;
    color:white;
    background-color:#F6AE2D;
  }

  .tejidos-bottom-2 p {
    text-align:justify;
  }

  .tejidos-bottom-2 h3 {
    color:#F6AE2D
  }

  /* Manillas Sublimadas */

  .sublimadas-encabezado h1 {
    text-align:center;
      color:#F6AE2D ;
      font-weight: bold;
    }

    .sublimadas-header h1 {
      text-align:center;
      color:#F6AE2D ;
      font-weight: bold;
    }

    .sublimadas-header p {
      text-align:justify;
    }

  .sublimadas-header h3 {
    color:#F6AE2D
  }

.sublimadas-body h2 {
  background-color:#5f0f40 ;
  color:#F6AE2D ;
  text-align: center;

}

.sublimadas-body p {
  background-color:#5f0f40 ;
  text-align: justify;
  color:white;
}

.sublimadas-cuadro-1 {
  background-color:#5f0f40;
  color:white;
  width: 80%;
  padding: 0px;
  margin-right: 10px;
}

.sublimadas-cuadro-1 p {
  text-align:justify;
  padding: 0px 10px;
}

.sublimadas-cuadro-1 h2 {
  text-align:center;
  font-weight:bold;
  color:white;
}

.sublimadas-body-2 h2 {
  background-color:#F6AE2D;
  color:white;
  text-align:center;
}

.sublimadas-body-2 p {
  text-align:justify;
}

.sublimadas-body-2 h3 {
  color:#F6AE2D;
}

/* Manillas Plastisol */

.plastisol-encabezado h1 {
  text-align:center;
    color:#F6AE2D ;
    font-weight: bold;
  }

.plasti-body h2 {
  background-color:#F6AE2D;
  color:white;
  text-align:center;
}

.plasti-body p {
  text-align:justify ;
}

.plasti-footer p {
  text-align:justify ;

}

.plasti-footer h2 {
  background-color:#F6AE2D ;
  color:white ;
  text-align:center ;
}

/* Efecto Parallax */

.parallax { 
  /* The image used */
  background-image: url("http://localhost:3000/img/inicio/fondo.webp");

  /* Set a specific height */
  height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Carrito  */

.carritocuerpo h1 {
  text-align:left;
  font-size:2rem;
  font-weight:bold;
}

.carritocuerpo h2 {
  font-size:1.7rem;
  font-weight:bold;
}

.carritocuerpo h3 {
  text-align:left;
  font-size:1.3rem;
  font-weight:bold;
}

.cuerpovalor {
  font-weight:bold;
  text-align:center;
  margin-top:auto;
  margin-bottom:auto;
}

.cuerpovalor p {
  font-size:1.3rem;
}

.carritocuerpoeliminar {
 width:100%;
}

.carritocuerpoeliminar p {
  color:red;
  float:right;
  margin-right:5%;
}

.bordecarrito {
  border-bottom:1px solid black;
}

.bordecarrito2 p {
  text-align:center;
  font-weight:bold
}

.cuerpocantidad p {
  font-weight:bold;
  font-size:1.2rem;
}

.subtotal p {
  font-weight:bold;
  width:100%;
  text-align:right;
}

.alerta {
  color:#616161;
  background-color:#fffed9;
  text-align:left;
}

.botoncarrito {
  background:#F7931e;
  color:white;
  border-radius:10px;
  border:none;
  width:70%;
  padding:8px;

}

.botoncarrito:hover {
  background:#dd821b;
}

/* MENU MANILLAS  */

.menumanillas {
  border-radius: 10px;
  filter: opacity(50%);
}

.menumanillas:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  cursor: pointer;
}

.imageholder {
  position:relative;

}

.imageholder span {
  position:absolute;
  right:10px;
  top:10px;
}

.textomenumanillas h1 {
  color:#F6AE2D;
  font-weight:bold;
  text-align:center;
}

.textomenumanillas p {
  text-align:center;
  color:grey;
}

.subtitulomenumanillas h2 {
  text-align:left;
  font-weight:bold;
  font-size:1.3rem;
}

.parrafomenumanillas {
  color:black;
  text-align:left;
  font-size:1.5rem;
}

.formulariocotizacion {
  margin-left:70px;
}

.botoncotizacion {
  background:#F7931e;
  color:white;
  border-radius:10px;
  border:none;
  width:20%;
  padding:8px;

}

.botoncotizacion:hover {
  background:#dd821b;
}



.overlay {
  position: relative;
  top: -50%;
  left: 0%;
  color:#636363;
  text-align: center;
  vertical-align: middle;
  padding:0px;
  margin:0px;
  text-decoration: none;
  font-weight: bold;
  border:none;
}



/* RESPONSIVE  */

@media(max-width:600px) {
  .logo-footer{
    border-right:none ;
    margin-left:auto;
    margin-right:auto;
    
  }
  .texto-footer{
    text-align:center;
    margin-top:20px;
  }
  .container {
      margin-top:100px;
    }
  .footer{
   padding:20px;
    }
  .texto-footer{
      padding-left:20px;
      padding-bottom:40px;
    }

  span {
      display: none;
  }
  .float-button {
      width: 40px;
      border-radius: 10px;
      height: 43px;
  }
  .fa-whatsapp {
      font-size: 25px !important;
  }
  .carrito-completo{
    display: none;
  }
}

/* error 404  */

.error404{
  background-color: rgba(29, 45, 59, 0.973);
  position: absolute;
  height: 100vh;
  width:100vw;
  z-index: 1;
  top:0;
  left: 0;
  color:white;
}

.texto404{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}